<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanzu.module.member.dal.mysql.deviceinfo.DeviceInfoMapper">
    <update id="updateStatusBySN">
        update member_device_info
        set status=#{state}
        where device_sn = #{deviceSn}
    </update>
    <update id="updateBindInfo">
        update member_device_info
        set room_id=#{roomId}
        where device_id = #{deviceId}
    </update>
    <delete id="deleteStoreId">
        update member_device_info
        set room_id=null,store_id=null
        where store_id=#{id}

    </delete>

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="getSnByStoreIdAndType" resultType="java.lang.String">
        select device_sn
        from member_device_info
        where deleted = 0
          AND type = #{type}
          AND room_id is null
          AND store_id = #{storeId}

    </select>

    <select id="getDeviceInfoPage"
            resultType="com.yanzu.module.member.controller.admin.deviceinfo.vo.DeviceInfoRespVO">
        select d.*, s.store_name, r.room_name
        from member_device_info d
        left join member_store_info s ON s.store_id = d.store_id
        left join member_room_info r ON r.room_id = d.room_id
        where d.deleted = 0
        <if test="null!=reqVO">
            <if test="null!=reqVO.deviceSn and reqVO.deviceSn!=''">
                and locate(#{reqVO.deviceSn},d.device_sn)>0
            </if>
            <if test="null!=reqVO.type and reqVO.type!=''">
                and d.type=#{reqVO.type}
            </if>
            <if test="null!=reqVO.status">
                and d.status=#{reqVO.status}
            </if>
            <if test="null!=reqVO.share">
                and d.share=#{reqVO.share}
            </if>
            <if test="null!=reqVO.roomId and reqVO.roomId!=''">
                and d.room_id=#{reqVO.roomId}
            </if>
            <if test="null!=reqVO.storeId and reqVO.storeId!=''">
                and d.store_id=#{reqVO.storeId}
            </if>
            <if test="null==reqVO.storeId and isAdmin==false">
                and d.store_id IN (select store_id from member_store_user where deleted = 0 and user_id = #{userId} AND
                type IN (12,13))
            </if>
            <if test="null!=reqVO.createTime and reqVO.createTime!=''">
                and d.create_time between
                <foreach collection="createTime" item="dateTime" separator="and">
                    #{reqVO.dateTime}
                </foreach>
            </if>
        </if>
        order by d.create_time desc
    </select>
    <select id="countGateway" resultType="java.lang.Integer">
        select count(1)
        from member_device_info
        where deleted = 0
          and type = 6
          and store_id = #{storeId}
    </select>
    <select id="getByRoomId" resultType="com.yanzu.module.member.dal.dataobject.deviceinfo.DeviceInfoDO">
        select *
        from member_device_info
        where deleted = 0
          AND room_id = #{roomId}
    </select>
    <select id="countBySN" resultType="java.lang.Integer">
        select count(1)
        from member_device_info
        where deleted = 0
          and device_sn = #{deviceSn}
    </select>
    <select id="getDeviceRoomVO" resultType="com.yanzu.module.member.service.iot.device.IotDeviceRoomInfoVO">
        select d.device_id,
               d.device_sn,
               d.room_id,
               r.room_name,
               d.store_id,
               d.type,
               d.tenant_id
        from member_device_info d
                 left join member_room_info r ON r.room_id = d.room_id
        where d.deleted = 0
          and d.device_sn = #{deviceSn}
    </select>
    <select id="getStoreVoice" resultType="com.yanzu.module.member.service.iot.device.IotDeviceRoomInfoVO">
        select d.device_id,
               d.device_sn,
               d.room_id,
               r.room_name,
               d.store_id,
               d.type
        from member_device_info d
                 left join member_room_info r ON r.room_id = d.room_id
        where d.deleted = 0
          and d.type IN (3,10)
          and d.room_id is null
          and d.store_id=#{storeId}
    </select>
    <select id="getTenantBySN" resultType="java.lang.Long">
        select tenant_id
        from member_device_info
        where deleted = 0
          and device_sn = #{deviceSn}
    </select>
    <select id="countByTypeAndRoomId" resultType="java.lang.Integer">
        select count(1)
        from member_device_info
        where deleted = 0
          and type = #{deviceType}
          and room_id = #{roomId}
    </select>
    <select id="countKongtiao" resultType="java.lang.Integer">
        select count(1)
        from member_device_info
        where deleted = 0
          and type in (10, 12, 13)
          and room_id = #{roomId}
    </select>
    <select id="getIRListByRoomId" resultType="com.yanzu.module.member.dal.dataobject.deviceinfo.DeviceInfoDO">
        select *
        from member_device_info
        where deleted = 0
          and type in (10, 12, 13)
          and room_id = #{roomId}
    </select>
    <select id="countShare" resultType="java.lang.Integer">
        select count(1)
        from member_order_info o
        where o.deleted = 0
          and o.status = 1
          and o.room_id IN (select room_id
                            from member_device_info
                            where deleted = 0
                              and share = 1
                              and device_sn = #{deviceSn})
    </select>

</mapper>
