<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanzu.module.member.dal.mysql.faceblacklist.FaceBlacklistMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="getFaceBlacklistPage"
            resultType="com.yanzu.module.member.controller.admin.faceblacklist.vo.FaceBlacklistRespVO">
        select f.*,store.store_name
        from member_face_blacklist f
        left join member_store_info store ON f.store_id = store.store_id
        where f.deleted = 0
        <if test="null!=reqVO">
            <if test="null!=reqVO.storeId">
                and f.store_id=#{reqVO.storeId}
            </if>
            <if test="null!=reqVO.admitGuid and reqVO.admitGuid!=''">
                and locate(#{reqVO.admitGuid},f.admit_guid)>0
            </if>
            <if test="null!=reqVO.remark and reqVO.remark!=''">
                and locate(#{reqVO.remark},f.remark)>0
            </if>
            <if test="null==reqVO.storeId and isAdmin==false">
                and f.store_id IN (select store_id from member_store_user where deleted = 0 and user_id = #{userId} AND
                type IN (12,13))
            </if>
            <if test="null!=reqVO.createTime">
                AND f.create_time>=#{reqVO.createTime[0]}
                AND f.create_time&lt;=#{reqVO.createTime[1]}
            </if>
        </if>
        order by f.create_time desc
    </select>
    <select id="getByStoreAndGuid"
            resultType="com.yanzu.module.member.dal.dataobject.faceblacklist.FaceBlacklistDO">
        select * from member_face_blacklist where deleted=0 and store_id=#{storeId} and admit_guid=#{admitGuid}
    </select>
</mapper>
